<div class="footer row">
  <div class="contact">
    <p>
      Alan Solidum<br />
      Software Engineer<br />
      me@alansolidum.com
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="http://facebook.com/alan.solidum/"><i class="social foundicon-facebook"></i></a>
      <a href="http://github.com/asolidum/"><i class="social foundicon-google-plus"></i></a>
      <a href="http://twitter.com/asolidum/"><i class="social foundicon-twitter"></i></a>
      <a href="http://github.com/asolidum/"><i class="social foundicon-github"></i></a>
      <a href="http://github.com/asolidum/"><i class="social foundicon-youtube"></i></a>
      <a href="http://github.com/asolidum/"><i class="social foundicon-instagram"></i></a>
      <a href="http://github.com/asolidum/"><i class="social foundicon-linkedin"></i></a>
    </p>
  </div>
</div>
