<footer class="row">
  <div class="large-7 small-20 columns">
    <div class="row">
      <div class="contact large-1 small-1 columns">
        <i class="foundicon-mail"></i>
      </div>
      <div class="contact large-18 small-18 columns">
        1050 Bishop St #501<br />
        Honolulu, HI  96813<br />
      </div>
    </div>
    <div class="row">      
      <div class="contact large-1 small-1 columns">
        <i class="foundicon-inbox"></i>
      </div>
      <div class="contact large-18 small-18 columns">    
        me@alansolidum.com
      </div>
    </div>
    <div class="row">            
      <div class="contact large-1 small-1 columns">
        <i class="foundicon-phone"></i>
      </div>
      <div class="contact large-18 small-18 columns">    
        (808) 699-1900
      </div>
    </div>
  </div>
  <div class="large-6 columns">
  </div>
  <div class="large-7 columns">
    <a href="http://facebook.com/alan.solidum/"><i class="social foundicon-facebook"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-google-plus"></i></a>
    <a href="http://twitter.com/asolidum/"><i class="social foundicon-twitter"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-github"></i></a>
    <br />
    <a href="http://youtube.com/asolidum/"><i class="social foundicon-youtube"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-instagram"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-linkedin"></i></a>
  </div>
</footer>
