<footer class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="contact">
        <i class="foundicon-mail"></i>
        1050 Bishop St #501<br />
        <i style="margin-right: 35px;"}></i>
        Honolulu, HI  96813<br />
      </div>
    </div>
    <div class="row">      
      <div class="contact">
        <i class="foundicon-inbox"></i>
        me@alansolidum.com
      </div>
    </div>
    <div class="row">            
      <div class="contact">
        <i class="foundicon-phone"></i>
        (808) 699-1900
      </div>
    </div>
  </div>
  <div class="large-8 columns">
  </div>
  <div class="large-8 columns">
    <a href="http://facebook.com/alan.solidum/"><i class="social foundicon-facebook"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-google-plus"></i></a>
    <a href="http://twitter.com/asolidum/"><i class="social foundicon-twitter"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-github"></i></a>
    <br />
    <a href="http://youtube.com/asolidum/"><i class="social foundicon-youtube"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-instagram"></i></a>
    <a href="http://github.com/asolidum/"><i class="social foundicon-linkedin"></i></a>
  </div>
</footer>
